div.DialogBox {
  
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-background-clip: border;
  -webkit-background-origin: padding;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-box-shadow: rgb(51, 51, 51) 0px 0px 5px;
  border:7px solid #ccc;
  
  background:#FFFFFF none repeat scroll 0 0;
  
  padding: 0;
  z-index: 9999;
  width: 450px;
}


div.DialogBox h4 {
  padding: 8px 14px;
  margin: 0;
  
  border-bottom: 1px solid #ccc;
  font-family: Arial, sans-serif;
  background-color: rgb(207, 30, 36);
  color: #fff;
}

div.DialogBox a.closeButton {
  margin-right: 8px; 
  margin-top: 6px;
  float: right;
  color: #fff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  border: 2px solid #fff;
  width: 16px;
  height: 16px;
  font-size: 14px;
  text-align: center;
}

div.DialogBox div.DialogBoxContent {
  background-color: #fff;
  padding: 15px; 
}

div.DialogBox div.DialogBoxActions {
  text-align:right;
  border-top: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
  padding: 4px 10px;
}

div.DialogBox form {
  padding: 0;
  margin: 0;
}